<% layout('layout/boilerplate') %>

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error: <%=err.message %>
        </h4>
        <p>
            <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= err.stack %></p>
                <% } %>
            
          
        </p>
        <hr>
        <p class="mb-0">Opps looks like you ran into a problem!!</p>
    </div>